{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h1>{{ flatpage.title }}</h1>
<h2><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-yell.gif" alt="yell" />{{ flatpage.content }}<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-yell.gif" alt="yell" /></h2>
<h2><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-yell.gif" alt="yell" />{{ flatpage.content }}<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-yell.gif" alt="yell" /></h2>

{% endblock content %}
